

.container {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff; 
    border-radius: 15px;
    margin: 20px auto 0;
   
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}


.container {
    overflow-x: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.txtC {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-direction: column;
}
table {
   
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px; /* Bordes redondeados para la tabla */
    overflow: hidden; /* Para que los bordes redondeados se vean */
}

thead th {
    background-color: #7AB2D3; /* Color azul */
    color: #fff;
    padding: 15px; /* Más espacio para un mejor aspecto */
    font-size: 20px; /* Aumentar tamaño de fuente */
    border-bottom: 2px solid #0056b3; /* Línea inferior */
}

tbody td {
    padding: 15px; /* Aumentar espacio */
    border-bottom: 1px solid #555; /* Línea de separación */
    font-size: 20px; /* Aumentar tamaño de fuente */
    color: #f4f4f9; /* Color de texto claro */
    transition: background-color 0.3s ease; /* Transición suave */
    text-align: center;
    vertical-align: middle;
}
tbody{
    background-color: #4A628A;
}


tbody tr:hover {
    background-color: #3a5688;/* Color al pasar el ratón */
}

tbody td[colspan="2"] {
    text-align: center;
    font-style: italic;
}

/* Botón */
.button-container {
    text-align: center;
    margin-top: 20px; /* Espacio superior */
}

button {
    padding: 12px 25px;
    background-color: #28a745; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Aumentar tamaño de fuente */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra del botón */
}

button:hover {
    background-color: #218838; /* Verde más oscuro */
    transform: translateY(-2px); /* Levantar el botón al pasar el ratón */
}

/* Estilos para el enlace dentro del botón */
button a {
    color: white;
    text-decoration: none;
}

button a:hover {
    text-decoration: underline; /* Subrayar al pasar el ratón */
}
