/* Título */
h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.txtC {
  font-size: 35px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 20px;
}
.table-container {
  width: 90%;
  background-color: #fff;
  margin: 20px auto 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

/* Tabla */
table {
  margin: 20px auto 0;
  width: 95%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

thead th {
  background-color: #7ab2d3;
  color: #fff;
  padding: 15px;
  font-size: 20px;
  border-bottom: 2px solid #fff;
}
tbody {
  background-color: #4a628a;
}
tbody td {
  padding: 15px;
  border-bottom: 1px solid #000;
  font-size: 20px;
  color: #f4f4f9;
  transition: background-color 0.3s ease;
  text-align: center;
  vertical-align: middle;
}


tbody tr:hover {
  background-color: #3a5688;
 
}

tbody td[colspan="2"] {
  text-align: center;
  font-style: italic;
}

/* Botón */
.button-container {
  text-align: center;
  margin-top: 20px;
 
}

button {
  padding: 12px 25px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

/* Estilos para el enlace dentro del botón */
button a {
  color: white;
  text-decoration: none;
}

button a:hover {
  text-decoration: underline;
}
.container-imaA{
  position: fixed;
  top: 7px;
 
}
.imaA{
  width: 42px;
}
.container-imaH{
  position: fixed;
 
  
}
.imaH{
  width: 42px;
}
.mensaje-exito {
  background-color: #7ab2d3;
  width: 50%;
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 600;
  font-style: normal;
}