/* Estilos generales para el formulario */
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Khand:wght@300;400;500;600;700&display=swap");
.container {
  background-color: #fff;
  width: 750px;
  margin: 12px auto 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.txtG {
  font-size: 29px;
  text-align: center;
  margin: 20px;
}
form.crearUsu {
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  background-color: #4a628a; /* Fondo oscuro */
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f4f4f9; /* Texto claro */
}

/* Estilos para los grupos de formulario */
.form-group {
  margin-bottom: 25px;
  text-align: left;
}

/* Estilos para las etiquetas */
.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #f4f4f9; /* Texto claro */
  font-size: 16px;
}

/* Estilos para los campos de entrada de texto */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  font-family: "Khand", sans-serif;
  width: 90%;
  padding: 5px;
  margin: 0 auto;
  border: 3px solid #4f75ff; /* Borde oscuro */
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 15px;
  background-color: #fff; /* Fondo gris oscuro */
  color: #000; /* Texto claro */
  transition: border-color 0.3s ease;
}

/* Estilos para la lista desplegable */
.form-group select {
  background-color: #7ab2d3;
  color: #fff;
  font-family: "Khand", sans-serif;
  width: 90%;
  padding: 5px;
  margin: 0 auto;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 15px;
  transition: border-color 0.3s ease;
}
.form-group select:hover {
  background-color: #5ca7d3;
}

/* Estilos para el botón */
form button {
  width: 90%;
  padding: 12px 0;
  background-color: #4f75ff;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #325ae9;
}

/* Estilos para el enfoque de los campos */
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus {
  border-color: #007bff; /* Color de enfoque azul */
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

/* Centrar el contenido */
form {
  text-align: center;
}

/* Estilos para el enlace de cerrar sesión */
.container p a {
  color: #f4f4f9;
  text-decoration: none;
  font-weight: bold;
}

.container p a:hover {
  text-decoration: underline;
}

.mensaje-exito {
  display: none;
  padding: 15px;
  color: #5c73f2;
  margin: 15px 0;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}