@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Khand:wght@300;400;500;600;700&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Khand", sans-serif;
  background-color: #5c73f2;
  height: 100%;
}

header {
  background-color: #133e87;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 570px;
  background: #fff;
  border-radius: 10px;
  margin-top: 160px;
}

.login-container__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  flex: 1;
}

.login-container__form h1 {
  color: #000;
  text-align: center;
  font-size: 45px;
}

.login-container__form form {
  display: flex;
  flex-direction: column;
}

.login-container__form form div {
  width: 100%;
}

.form-login {
  padding: 5px;
  row-gap: 35px;
}

.form-login button {
  cursor: pointer;
  padding: 15px 10px;
  border-radius: 20px;
  border: 1px solid #bbb;
  background-color: #7ab2d3;
  transition: all ease 0.3s;
  font-weight: 800;
  color: #fff;
  font-size: 24px;
}

.form-login button:hover {
  background-color: #ddd;
}

.form-login-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-login-field label {
  font-weight: 700;
  padding-bottom: 5px;
  justify-content: center;
}

.form-login-field input {
  border-radius: 20px;
  outline: none;
  border: none;
  border: 3px solid #4f75ff;
  padding: 10px;
  font-size: 20px;
}

.login-container__logo {
  background-color: red;
  flex: 1;
}
.txtU {
  font-size: 26px;
  text-align: center;
  padding: 10px;
  font-style: normal;
}
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #133e87;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.admin-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 25px;
  row-gap: 10px;
  border-radius: 10px;
  width: 580px;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

.admin-container h1,
h2 {
  text-align: center;
  font-size: 40px;
  
}

.admin-container button a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
 
}
.admin-container button:last-child {
  margin-top: 10px;
}
.btnG {
  background-color: #4f75ff;
}
.btnC {
  background-color: #e78f81;
}

.admin-container button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 15px 10px;
  padding-top: 16px;
  border-radius: 7px;
  border: 1px solid #bbb;
  transition: all ease 0.3s;
  margin-bottom: 7px;
  border-radius: 20px;
  width: 70%;
  
}

.admin-container button:nth-child(-n + 4):hover {
  background-color: #325ae9;
}

.admin-container button:last-child:hover {
  background-color: #e26d5b;
}

.container-imaA {
  position: fixed;
  top: 7px;
  left: 40px;
}

.imaA {
  width: 42px;
}

.container-imaH {
  position: fixed;
  top: 7px;
  right: 50px;
}
.imaH {
  width: 42px;
}
